<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sociologijos akademija</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.0-RC3/css/bootstrap-datepicker3.css" />
    <link rel="stylesheet" href="css/customs.css">
</head>

<body>
<nav class="navbar navbar-toggleable-md fixed-top bg-faded top-menu">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarCollapse">

        <ul class="navbar-nav mr-auto ">
            <li class="nav-item active">
                <a class="nav-link" href="#about">Apie </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#events">Renginiai</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="">Galerija</a>
            </li>
            <div class="logo">
                <a class="navbar-brand" href="#"><img src="img/logo-small.png" alt="Sociologijos akademija"></a>
            </div>
            <li class="nav-item">
                <a class="nav-link disabled" href="">Studijos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="">Blogas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="">Atsiliepimai</a>
            </li>

        </ul>
    </div>
</nav>

</body>

</html>
