<!DOCTYPE html>
<html lang="lt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sociologijos akademija</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,400,700">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
  <div class="header">
    <div class="container">
      <div class="d-flex flex-row justify-content-between">
        <a href class="hidden-lg-up d-flex flex-column justify-content-center menu-button">
          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="white" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
          </svg>
        </a>
        <div class="hidden-md-down d-flex flex-row justify-content-end">
          <a href class="menu-item">Apie</a>
          <a href class="menu-item">Renginiai</a>
          <a href class="menu-item">Galerija</a>
        </div>
        <a href class="menu-item logo"></a>
        <div class="hidden-md-down d-flex flex-row">
          <a href class="menu-item">Studijos</a>
          <a href class="menu-item">Blogas</a>
          <a href class="menu-item">Atsiliepimai</a>
        </div>
        <a href class="hidden-md-down register align-self-center">Registruotis</a>
        <span class="hidden-lg-up menu-button"></span>
      </div>
    </div>
  </div>

</body>

</html>
