<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sociologijos akademija</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <nav class="navbar navbar-default top-menu">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#about">Apie</a></li>
                    <li><a href="#events">Renginiai</a></li>
                    <li><a href="">Galerija</a></li>
                    <li class="logo">
                        <a href=""><img src="img/logo-small.png" alt="Sociologijos akademija"></a>
                    </li>
                    <li><a href="">Studijos</a></li>
                    <li><a href="">Blogas</a></li>
                    <li><a href="">Atsiliepimai</a></li>
                </ul>
                <a href="" class="btn-gray pull-right">Registruotis</a>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header id="main-header"></header>

    <div id="about">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2 class="block-header block-header--vertical">Apie</h2>
                    <!--Embeded video -->
                </div>
                <div class="col-sm-5">
                    <p>Sociologijos akademija - Neformali organizacija, siekianti parodyti moksleiviams kasdienio gyvenimo aspektus iš sociologijos mokslo perspektyvos.
                    </p>
                    <p class="text-right">
                        <a href="" class="read-more">Skaityti daugiau</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="team" class="bg-yellow"></div>

    <div id="events" class="bg-dark">
        <div class="container">
            <div class="text-center">
                <h2 class="block-header">Renginiai</h2>
            </div>
            <div class="row">
                <div class="col-sm-4 event">
                    <img src="img/img1.jpg" alt="Subcultures">
                    <div class="event__content">
                        <h3>Subkultūros: mada ar pasipriešinimas?</h3>
                        <div class="event__date-time">
                            <div class="event__date">04 01</div>
                            <p class="event__time">10:45 - 17:00</p>
                        </div>
                        <p>VU Flosofijos fakultetas<br>(Universiteto g. 9/1, 301 aud.)</p>
                    </div>
                </div>
                <div class="col-sm-4 event">
                    <img src="img/img2.jpg" alt="Societies">
                    <div class="event__content">
                        <h3>Renkantis gyvenimą už visuomenės ribų</h3>
                        <div class="event__date-time">
                            <div class="event__date">03 18</div>
                            <p class="event__time">10:45 - 16:30</p>
                        </div>
                        <p>VU Flosofijos fakultetas<br>(Universiteto g. 9/1, 301 aud.)</p>
                    </div>
                </div>
                <div class="col-sm-4 event">
                    <img src="img/img3.jpg" alt="Students">
                    <div class="event__content">
                        <h3 class="kur-stoti">Kur (Ne) Stoti?</h3>
                        <div class="event__date-time">
                            <div class="event__date">02 18</div>
                            <p class="event__time">10:45 - 17:00</p>
                        </div>
                        <p>VU Flosofijos fakultetas<br>(Universiteto g. 9/1, 301 aud.)</p>
                    </div>
                </div>
            </div>
            <div class="pull-right">
                <a href="" class="read-more">Skaityti daugiau</a>
            </div>
        </div>
    </div>

    <div id="gallery"></div>

    <div id="study" class="bg-yellow">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <h2 class="block-header block-header--vertical block-header--dark">Studijos</h2>
                    <h3>Stojimų balai</h3>
                    <p>Konkursinio balo sandara. Mokslinio projekto vertinimas. Mokslo darbų vertinimas.</p>
                </div>
                <div class="col-sm-4 text-center">
                    <h3>Reikalingi egzaminai</h3>
                    <p>Kokie egzaminai reikalingi. Kaip teisingai jiems pasiruošti. Papildoma literatūra.</p>
                </div>
                <div class="col-sm-4 text-center">
                    <h3>Universitetai</h3>
                    <p>Universitetų programos. Pliusai ir minusai. Reikalavimai.</p>
                </div>
            </div>
            <p class="text-right">
                <a href="" class="read-more">Skaityti daugiau</a>
            </p>
        </div>
    </div>

    <div id="blog" class="bg-dark"></div>

    <div id="feedback"></div>

    <div id="contact" class="bg-dark"></div>

</body>

</html>
