body {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}


.btn-gray {
    background-color: $grey;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    border-radius: 17px;
    padding: 10px 35px;
    text-transform: uppercase;
   
    &:hover, &:focus {
        background-color: $black;
        text-decoration: none;
        color: #fff;
    }
}


.bg-dark .read-more {
    &, &:hover { color: #fff; }
}

.read-more {
    color: $black;
    font-size: 15px;
    font-weight: bold;
    
    &:hover {
        color: $black;
    }
    
    &::after {
        content: "";
        display: inline-block;
        background: url("../img/link.png") no-repeat;
        background-position: 6px center;
        width: 20px;
        height: 12px;
    }
    &:hover::after {
        background-position: 8px center;
    }
}




/* Home page b locks */
.bg-dark .block-header, .bg-yellow .block-header { color: #fff }
.bg-dark a { color: #fff }

/* Block header */
.block-header {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 70px;
}

    .block-header::before, .block-header::after {
        content: "";
        position: relative;
        width: 52px;
        height: 52px;
        background: url("../img/yellow-dot.png") no-repeat 0 0;
    }
    .block-header::before {
        display: inline-block;
        top: 15px;
        margin-right: 10px;
    }

    .block-header--vertical {
        transform: rotate(-90deg) translateX(-100%);
        transform-origin: 0 0;
        display: inline-block;
        
    }
    .block-header--vertical::before { display: none }
    .block-header--vertical::after {
        top: 9px;
        display: inline-block;
        transform: rotate(90deg);
        margin-left: 5px;
    }

    .block-header--dark::before, .block-header--dark::after {
        background-image: url("../img/black-dot.png");
    }
