/* Events */
.event__content {
    height: 277px;
    background-color: $yellow;
    padding: 38px;
    color: $black;
    margin-bottom: 78px;
}

.event {
    img {
        width: 100%;
    }

    h3 {
        border-bottom: solid 1px $black;
        padding-bottom: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
        min-height: 63px;
    }
}


.event__date-time {
    background-color: $black;
    width: 92px;
    height: 70px;
    padding: 10px 12px;
    color: white;
    text-align: center;
    margin-bottom: 15px;
}

.event__date {
    font-size: 22px;
    line-height: 1;
    padding-bottom: 6px;
    margin-bottom: 5px;
    border-bottom: solid 1px white;
}

.event__time {
    font-size: 12px;
}